# ========================
# Node.js
# ========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========================
# Environment proměnné
# ========================
.env
.env.local
.env.development
.env.production


# ========================
# Databáze (pokud je lokální)
# ========================
*.sqlite
*.sqlite3
*.db

# ========================
# Build / cache
# ========================
dist/
build/
.cache/

# ========================
# OS / editor bordel
# ========================
.DS_Store
Thumbs.db

# ========================
# IDE / editor
# ========================
.vscode/
.idea/

# ========================
# Uploady (fotky vleků, poškození atd.)
# ========================
uploads/
public/uploads/

# ========================
# Povolené example env
# ========================
!.env.example

# ========================
# Tool cache
# ========================
.vite/
.eslintcache
