# ========================
# Node.js
# ========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========================
# Environment proměnné
# ========================
.env
.env.*
!.env.example

# ========================
# Databáze (lokální / dev)
# ========================
*.sqlite
*.sqlite3
*.db

# ========================
# Build / cache
# ========================
dist/
build/
.cache/
.vite/
.eslintcache

# ========================
# OS / editor bordel
# ========================
.DS_Store
Thumbs.db

# ========================
# IDE / editor
# ========================
.vscode/
.idea/

# ========================
# Uploady (fotky vleků, poškození atd.)
# ========================
uploads/
public/uploads/
